*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*
{
   font-family: "Almarai", sans-serif;
   color: #070707;
}

h1
{
   font-size: 58px;
   letter-spacing: -1px;
   text-align: center;
   
   padding-bottom: 15px;
   padding-top: 15px;
}

h2
{
   font-size: 40px;
   letter-spacing: -0.5px;
   
   padding-bottom: 20px;
   padding-top: 10px;
}

h3
{
   font-size: 26px;
   letter-spacing: -0.5px;
   
   padding-bottom: 10px;
   padding-top: 50px;
}

p
{
   font-size: 22px;
   letter-spacing: 0.25px;
   
   margin-bottom: 20px;
   margin-top: 10px;
   line-height: 30px;
   
   color: #32363e;
}

p.instrucao
{
   margin-top: 0px;
   margin-bottom: 62px;
   color: #9f9f9f;
}

input
{
   width: 60%;
   /* height: 58px; */
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;

   padding: 12px;
   border: 1px solid #979797;
   border-radius: 12px;

   font-size: 26px;
}

header
{
   position: fixed;
   top: 0%;
   left: 0%;

   width: 100%;
   text-align: center;
   background-color: #fff;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.225);
}

.content
{
   margin-top: 125px;
}


.content-holder
{
   max-width: 1020px;
   padding-left: 5%;
   padding-right: 5%;
   height: 100vh;
   margin: auto;
}

.resultado-container
{
   border-top: 1px solid #c4c4c4;
   display: flex;
   flex-direction: row;
   width: 100%;
}

.resultado-container h2
{
   width: 50%;
}

.resultados
{
   width: 100%;
}

.resultados > p {
   margin: 22px;
   padding: 0;
}


form.cadastro-form
{
   display: flex;
   flex-direction: column;
   align-items: center;
}

form.cadastro-form button, form.login-form button
{
   width: 60%;
   height: 52px;

   background-color: #ffb20d;
   border-radius: 8px;

   font-size: 22px;
   font-weight: 600;
   border: none;

   margin-top: 15px;
   cursor: pointer;
}